{{#each posts as |post| }}
<div class="card col-md-6">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title" id="cardTitle">{{post.name}}</h5>
          <p class="card=text" id="cardDescription">{{post.description}}</p>
          <p class="card-text" id="cardDate">
            <small class="text-muted">Written on: {{formatDate post.createdAt}}</small><BR>
            <small class="text-muted">By:{{post.user.name}}</small>
          </p>
          <p class="card-text"><small class="text-muted"><a href="./post/{{post.id}}" class="read-link"
                id="readLink">View Post</a></small></p>
        </div>
      </div>
    </div>
  </div>
</div>
{{/each}}