 <div class="row">
  <div class="col-auto">
    <h2>Hello! Welcome to the Tech Blog, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Write a Blog Post:</h3>

    <form class="form new-post">
      <div class="form">
        <label for="name">Post Title:</label>
        <input class="form-control" type="text" id="name" name="name" />
      </div>
      <div class="form">
        <label for="description">Description:</label>
        <textarea class="form-control" type="textarea" id="description" name="description"></textarea>
      </div>
      <div class="form">
        <button type="submit" class="btn btn-primary">Post Blog</button>
      </div>
    </form>
  </div>
</div>

{{#if posts.length}}
  <div class="row post-list">
    <h3>Your Posts:</h3>

    {{#each posts as |post| }}
    <div class="card-main col-md-6">
        <div class="row-cards">
          <div class="col-md-8">
            <div class="body-cards">
              <h5 class="card-title" id="card-title-id">{{post.name}}</h5>
              <p class="card-text" id="card-description-id">{{post.description}}</p>
              <p class="card-text" id="card-date-id">
                <small class="text">Written on: {{formatDate post.createdAt}}</small><BR>
                <small class="text">By:{{post.user.name}}</small>
              </p>
              <p class="card-text">
                <small class="text">
                  <a href="./post/{{post.id}}" class="read-post" id="readPost">View Post</a>            
                </small>
              </p>
            </div>
          </div>
        </div>
    </div>
    {{/each}}
  </div>
{{/if}}

<script src="./js/userProfile.js"></script>